body{background-color: #7f7d9c;}.header{width:100%;}.h1{float: left;}.a{width: 1250x;height: 960px;background-color: rgb(203, 220, 241);float: left;padding: 17px;margin: 7px;}
.b{ width: 1250px;height: 930px;background-color:rgb(248, 234, 213) ;float: left;padding: 17px;margin: 7px;}
  c.{width: 1250;height: 930px;
    background-color:rgb(203, 220, 241);
    float: left;
    padding: 17px;
    margin: 7px;}


    .d{
        
        width: 1250px;
        height: 800px;
        background-color:rgb(248, 234, 213) ;
        float: left;
        padding: 17px;
        margin: 7px;}


        .p1{
          background-color: #622051;
          color: white;
            width: 300px;
            height: 470;
            float: left;
            padding: 5px;
            margin-bottom: 0px;}
    
 
         
          
       
                  .p2{
                    background-color: #622051;
                    color: white;
                      width: 300px;
                      height: 470;
                      float: left;
                      padding: 5px;
                      margin: 0px;}
              
           
             
                      .p3{
                        background-color: #622051;
                        color: white;
                          width: 300px;
                          height: 470;
                          float: left;
                          padding: 5px;
                          margin: 0px;}
                  
               
                      
                          .p4{
                            background-color: #622051;
                            color: white;
                              width: 300px;
                              height: 470;
                              float: left;
                              padding: 5px;
                              margin: 0px;}
                  
                               .v1{    width: 410px;
                                height: 300;
                                  float: left;
                                  padding: 2px;
                               }                           


                               .v2{width: 410px;
                                height: 300;
                                float: left;
                                padding: 2px;
                             }               
                             
                             

                             .v3{width: 410px;
                              height: 300;

                               float: left;
                               padding: 2px;

                             }


